[submodule "specialized-project-report"]
	path = specialized-project-report
	url = https://github.com/vasiliymironoff/specialized-project-report
[submodule "specialized-project-ml"]
	path = specialized-project-ml
	url = https://github.com/vasiliymironoff/specialized-project-ml

[submodule "specialized-project-frontend-backend"]
	path = specialized-project-frontend-backend
	url = https://github.com/vasiliymironoff/specialized-project-frontend-backend.git
